
footer {
    border-top: 1px solid #d5d5d5;
    font-size: .8em;
    text-align: center;
    background-color: #f8f8f8;
}

.aboutme {
    text-align: center;
}

.avatarimg{
    max-width: 300px;
    width: 100%;
    margin: auto;
}
