
footer {
    border-top: 1px solid #d5d5d5;
    font-size: .8em;
    text-align: center;
    background-color: #f8f8f8;
}

.aboutme {
    text-align: center;
}

.avatarimg{
    max-width: 300px;
    width: 100%;
    margin: auto;
}

.kellogglogo{
    max-width: 200px;
    width: 100%;
    margin: auto;
}


/******* Icons Style *******/

/* Rules for sizing the icon. */
.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }

/* Rules for using icons as black on a light background. */
.material-icons.md-dark { color: rgba(0, 0, 0, 0.54); }
.material-icons.md-dark.md-inactive { color: rgba(0, 0, 0, 0.26); }

/* Rules for using icons as white on a dark background. */
.material-icons.md-light { color: rgba(255, 255, 255, 1); }
.material-icons.md-light.md-inactive { color: rgba(255, 255, 255, 0.3); }