# Site settings
# These are used to personalize your new site. If you look in the HTML files,
# you will see them accessed via {{ site.title }}, {{ site.email }}, and so on.
# You can create any custom variable you would like, and they will be accessible
# in the templates via {{ site.myvariable }}.
title: Sebastien Martin
email: 92sebastien@gmail.com
description: Personal Website of Sebastien Martin, PhD Student at MIT

currentresume: resumes/S.MARTIN_201810_resume_academic.pdf # DO NOT FORGET TO CHANGE THE TAB LINK AS WELL

# baseurl: "" # the subpath of your site, e.g. /blog
# url: "" # the base hostname & protocol for your site, e.g. http://example.com
# twitter_username: jekyllrb
# github_username:  jekyll

# Build settings
markdown: kramdown
# theme: minima
gems:
  - jekyll-feed
exclude:
  - Gemfile
  - Gemfile.lock

tabnames:
  - About Me
  - Research
  - Media
  - CV

tablinks:
  - index.html
  - research.html
  - media.html
  - assets/resumes/S.MARTIN_201810_resume_academic.pdf

